{% extends 'base.html' %}

{% block title %}
  Завершение теста
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Спасибо за прохождение теста!</h1>
    <h2>Ваши ответы:</h2>
    <ul>
      {% for response in user_responses %}
        <li>
          <strong>{{ response.choice.question.question_text }}</strong><br>
          Ваш ответ: {{ response.choice.choice_text }}
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'ques_ans_app:start_test' %}" class="btn btn-primary mr-2">Начать заново</a>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#testExplanationModal">
      Объяснение теста
    </button>
  </div>

  <!-- Модальное окно -->
  <div class="modal fade" id="testExplanationModal" tabindex="-1" role="dialog" aria-labelledby="testExplanationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="testExplanationModalLabel">Объяснение теста</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Тестирование в нашей системе построено на основе графа вопросов и ответов. Каждый вопрос представляет собой вершину графа, а каждый ответ - ребро. Пользователь начинает тест, отвечая на первый вопрос, и в зависимости от выбранного ответа переходит к следующему вопросу.</p>
          <p>Система автоматически определяет следующий вопрос, исходя из предыдущего ответа пользователя. Таким образом, путь пользователя через тест формируется динамически на основе его ответов.</p>
          <p>Цель пользователя - пройти через все вопросы теста и достичь конечной точки, где выводится результат его ответов.</p>
          <p>При завершении теста вы можете просмотреть свои ответы и увидеть, какой путь вы прошли через тестирование.</p>
        </div>        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
